* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #007bff, #00bfff, #00ddff, #00b3ff);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.heading h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}

.dt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dt h2 {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
  /* Added property to center the text */
}

.dt select {
  background-color: transparent;
  border: none;
  outline: none;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  padding: 0;
  appearance: none;
  text-align: center;
  /* Added property to center the text */
}


#a option {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  padding: 10px;
}

.inputs {
  width: 100%;
  padding: 20px;
}

.all {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

input {
  padding: 10px;
  border: 1px solid #0000000c;
  border-radius: 5px;
  outline: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: rgba(39, 39, 39, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all .2s ease;
}

input::placeholder {
  color: #aaaaaa;
}

input:focus {
  background-color: rgba(39, 39, 39, 0.05);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}


#invalid {
  width: 565px;
  background-color: rgba(255, 103, 103, 0.4);
  color: rgb(255, 0, 0);
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in;
  transform: scale(0.1);
  visibility: hidden;
}


/* Responsive adjustments */

@media (max-width: 768px) {
  .container {
    width: 80%;
    padding: 20px;
  }

  .invalid {
    width: 80%;
    padding: 20px;
  }

  .all {
    flex-direction: column;
    gap: 10px;
  }

  input {
    width: 100%;
  }
}